*{
    font-family: 'Press Start 2P', cursive;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #f1e7d6;
}

/* --------------------------------------Header-------.---------------------------- */
.header{
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FFD93D;

}

.arepaAndIcon{
    font-size: 42px;
    text-shadow: 1px 1px 1px #000;
}
.icon{
    height: 140px;
    width: 140px;
}
.icon img{
    height: 100%;
    width: 100%;
}


/* --------------------------------------first section-------.---------------------------- */

.first-section{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 350px;
    padding: 10px;

}

.title{
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
}

.first-section__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px ;
}

.first-section__text{
    text-align: right;
    font-size: 13px;
    width: 714px;
    height: 163px;
    overflow: hidden;
    padding-top: 15px
}

.first-section__image{
    width: 400px;
    height: 250px;
    margin: 0 10px;
}

.first-section__image img{
    width: 100%;
    height: 100%;
}

/* --------------------------------------second-section-------.---------------------------- */

.secondSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 450px;
    background-color: #FFC107;
    padding: 5px;

}

.secondSection__items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 400px;
}

.item__arepa{
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 300px;
    padding: 10px;
    
}
.item__arepa p{
    text-align: center;
    width: 200px;
    height: 63.6px;
}

.item-image{
    width: 200px;
    height: 200px;
    background-color: #6b8c21;
    box-shadow:   -10px 0 0 0 black,
    10px 0 0 0 black,
    0 -10px 0 0 black,
    0 10px 0 0 black;
}

.one{
    background-color: #FF9F29;

}

.two{
    background-color: #FA9494;
    
}

.item-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* --------------------------------------------------------third section------------------------ */

.third-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 450px;
    padding: 5px;
    background-color: #A86464;
}

.third-section__partners{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 400px;
}


.item__partner{
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 300px;
    padding: 10px;

}

.item__partner p{
    text-align: center;
    width: 200px;
    height: 63.6px;
}

.items__partner{
    width: 200px;
    height: 200px;
    background-color: #F9D949;
    box-shadow:   -10px 0 0 0 black,
    10px 0 0 0 black,
    0 -10px 0 0 black,
    0 10px 0 0 black;

}

.item__partner img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.huesitos{
    background-color: #243763;
}

.rikomalt{
    background-color: #6B011F;
}